/* Body */
html { 
  background: url(https://images.unsplash.com/photo-1568587166637-7ad1aef43288?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1327&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}

/* https://images.unsplash.com/photo-1531112998639-59af23e7a65e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1537&q=80 */

/* App */
#app-header {
  display: flex;
  justify-content: center;
  align-content: center;
}

#app-schedule, #app-product-list {
  background-color: white;
  margin: 0px -10px;
  padding: 25px 50px;
}

#app-tagline {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-tagline p {
  color:white;
  font-style: italic;
  font-weight: bolder;
  font-size: 40px;
}

#app-footer {
  height: 75vh;
}

#app-footer-bar{
 background-color:rgb(204, 220, 204);
 padding: 10px 20px;
 margin: 0px -10px;
}

/* Header */
#header-welcome {
  border: solid white 5px;
  padding: 30px;
  color: white;
  font-size: 100px;
}

/* Schedule  */
#schedule-header{
  font-size: 24px;
  color: grey;
}

#schedule-card-holder{
 display: flex;
}

.schedule-card:nth-of-type(odd){
  background-color: rgb(204, 220, 204);
 }

.schedule-card{
 border: solid grey 1px;
 padding: 10px;
 width: 15%;
}

#day-name {
  font-size: 20px;
}

.schedule-card p span{
  font-weight: bolder;
  color: grey;
  font-size: 18px;
 }

 /* Product List */
 #productlist-header {
   font-size: 24px;
   color: grey;
 }
 #productlist-cards {
  display: flex;
  flex-wrap: wrap;
 }

 .productlist-card {
   width: 25%;
 }

 /* Month */
 #month-header {
   color: green;
  font-size: 24px;
 }

 /* Seasonal Produce */
 .produce-link {
   margin-right: 25px;
 }

 .produce-link:hover {
  text-decoration: underline;
}

 .produce-link:nth-of-type(odd) {
  color: green;
}

.produce-link:nth-of-type(even) {
  color: grey;
}

